name: Build

on: [push]

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Android Build
        working-directory: Android
        run: ./gradlew build
      - name: iOS Build, Lint and Test
        run: pod lib lint --allow-warnings
