name: deploy to maven

on: [workflow_dispatch]

jobs:
    build:
      name: create AAR
      runs-on: ubuntu-latest

      steps:
          - uses: actions/checkout@v1
          - name: setup JDK
            uses: actions/setup-java@v1
            with: 
              java-version: 8
          - name: set tag
            run: echo ::set-env name=THIS_TAG::$(echo $(git describe --tags `git rev-list --tags --max-count=1`))
          - name: set versionName
            working-directory: Android
            run: bash ./gradlew setTag -PmyTag=$THIS_TAG
          - name: build release AAR
            working-directory: Android
            run: bash ./gradlew assemblerelease
          - name: build poms
            working-directory: Android
            run: bash ./gradlew publishToMavenLocal
          - name: upload aar to aws
            env: 
              s3key: ${{ secrets.AWS_KEY }}
              s3secret: ${{ secrets.AWS_SECRET }}
            run: sh ./scripts/puts3.sh $s3key $s3secret "foliastorage" "./Android/mapsindoorsutils/build/sdkreleases/mapsindoorsutils-$THIS_TAG.aar" "com/mapspeople/mapsindoors/mapsindoorsutils/$THIS_TAG/" "public-read" "application/javascript"
          - name: upload pom to aws
            env: 
              s3key: ${{ secrets.AWS_KEY }}
              s3secret: ${{ secrets.AWS_SECRET }}
            run: sh ./scripts/puts3.sh $s3key $s3secret "foliastorage" "./Android/mapsindoorsutils/build/sdkreleases/mapsindoorsutils-$THIS_TAG.xml" "com/mapspeople/mapsindoors/mapsindoorsutils/$THIS_TAG/" "public-read" "application/xml"