name: deploy to maven

on: [workflow_dispatch]

jobs:
    build:
      name: create AAR
      runs-on: ubuntu-latest

      steps:
          - uses: actions/checkout@v1
          - name: setup JDK
            uses: actions/setup-java@v1
            with: 
              java-version: 8
          - name: build release AAR
            working-directory: Android
            run: bash ./gradlew assemblerelease
          - name: build poms
            working-directory: Android
            run: bash ./gradlew publishToMavenLocal
          - name: upload aar to aws
            working-directory: scripts
            env: 
              s3key: ${{ secrets.AWS_KEY }}
              s3secret: ${{ secrets.AWS_SECRET }}
            run: ./puts3.sh -/com/mapspeople/mapsindoors/mapsindoorsutils/0.1.0/ -/mapsindoorsutils/build/outputs/aar/mapsindoorsutils-release.aar -$s3key - $s3secret
          - name: upload aar to aws
            working-directory: scripts
            env: 
              s3key: ${{ secrets.AWS_KEY }}
              s3secret: ${{ secrets.AWS_SECRET }}
            run: ./puts3.sh -/com/mapspeople/mapsindoors/mapsindoorsutils/0.1.0/ -/mapsindoorsutils/build/publications/release/pom-default.xml -$s3key - $s3secret