name: deploy to maven

on: [workflow_dispatch]

defaults:
    run:
      working-directory: Android

jobs:
    build:
      name: create AAR
      runs-on: ubuntu-latest

      steps:
          - uses: actions/checkout@v1
          - name: setup JDK
            uses: actions/setup-java@v1
            with: 
              java-version: 8
          - name: build release AAR
            run: bash ./gradlew assemblerelease
          - name: build poms
            run: bash ./gradlew publishToMavenLocal
          - name: Print the final result
            run: |
              ls
              cd mapsindoorsutils/build/outputs/aar
              ls
              cd ../..
              cd publications/release
              ls