# .github/workflows/documentation.yml
name: iOS Swift Documentation

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Generate Swift Documentation
        uses: SwiftDocOrg/swift-doc@master
        with:
          inputs: "MapsIndoorsUtils/Classes"
          module-name: MapsIndoors Utilities
          output: "Documentation"
      - name: Upload Documentation to Wiki
        uses: SwiftDocOrg/github-wiki-publish-action@v1
        with:
          path: "Documentation"
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}